/* -------01 TYPOGRAPHY SYSTEM

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 1.6rem;
  color: #333;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f2f2f2;
}

.s1 {
  padding: 1.5rem;
  font-size: 1.6rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-color: #fff;
}

.activ {
  border-bottom: 2px solid #333;
  font-weight: 700;
}

.select {
  /* width: 100%; */
  display: flex;
  gap: 2rem;
  /* justify-content: center; */
  font-size: 1.8rem;
  /* padding: 1rem 2rem; */
  border-bottom: 1px solid #00000010;
  border-bottom: 1px solid #00000010;
}

.form-container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  /* width: 120rem; */
  margin: 0 auto;
}

.inside-form {
  background-color: #fff;
  width: 80rem;
  margin-top: 5rem;
  padding: 2rem 3rem;
}

.property-heading {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.property-para {
  font-size: 1.6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #00000010;
}

.about-heading {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1.6rem;
}

.p-heading {
  margin-bottom: 1rem;
}

/* .buttons {
  margin-bottom: 2rem;
  /* display: flex;
  gap: 1.6rem; */

.btn {
  padding: 1rem 1.6rem;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  background-color: #fff;
  border: 1px solid #333;
  transition: all 0.1s;
  cursor: pointer;
}

.btn:hover {
  /* background-color: #f1f1f1; */
  color: #333;
  border: 1px solid #94b1c8;
}

input {
  padding: 1rem 2rem;
  width: 75%;
  margin-bottom: 2rem;
}

.input-form {
  padding-bottom: 1rem;
  border-bottom: 1px solid #00000010;
  border-top: 1px solid #00000010;
}

.input-half {
  width: 36%;
  margin-right: 1.6rem;
}

.unit-head {
  margin-bottom: 1rem;
}

/* drag and drop */

.center {
  /* transform: translate(-50%, -50%); */
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 20rem;
  height: 20rem;
  border-radius: 3px;
  border: 1px solid #9999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: all 0.1s;
}

.center:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border: none;
}

.title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #999;
  text-align: center;
}

h1 {
  font-size: 16px;
  font-weight: 300;
  color: #666;
}

.dropzone {
  width: 100px;
  height: 80px;
  border: 1px dashed #999;
  border-radius: 3px;
  text-align: center;
}

.upload-icon {
  margin: 25px 2px 2px 2px;
}

.upload-input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.para-photo {
  padding-bottom: 3rem;
  border-bottom: 1px solid #00000010;
}

.check {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0;
  margin-right: 1rem;
}

.check-contain {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
  /* border-bottom: 1px solid #00000010; */
}

textarea {
  width: 75%;
  height: 15rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.btn-no {
  padding: 1rem 2.4rem;
  border-radius: 4rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #333;
  background-color: #fff;
  transition: all 0.1s;
  cursor: pointer;
}

.btn-no:hover {
  /* background-color: #888;
  color: #fff; */

  color: #333;
  border: 1px solid #94b1c8;
}

.select-option {
  width: 75%;
  padding: 1rem 2rem;
}

.bathrooms {
  padding-bottom: 3rem;
  border-bottom: 1px solid #00000010;
}

/* icons */

.form-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
}

.icon-container {
  position: relative;
}

.input-box {
  padding-left: 4rem !important;
}

.btn-contain {
  display: flex;
  justify-content: center;
}

.submit-btn {
  padding: 1.4rem 2.4rem;
  border-radius: 4rem;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  color: #fff;
  background-color: #555;
}
/* .drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #0275d8;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0275d8;
} */

#dropFileForm {
  margin: 16px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
}

#dropFileForm #fileLabel {
  height: 20rem;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 255, , 0.5); */
  border: 2px dotted #00000030;
  /* display: block; */
  padding: 16px;
  position: relative;
  cursor: pointer;
}

/* #dropFileForm #fileInput {
  display: none;
} */

#dropFileForm #fileLabel:after,
#dropFileForm #fileLabel:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -2;
  border-radius: 8px 8px 0 0;
}

#dropFileForm #fileLabel:before {
  z-index: -1;
  /* background: repeating-linear-gradient( */
  /* 45deg,
    transparent,
    transparent 5%,
    black 5%,
    black 10%
  ); */
  background-color: #00000030;
  /* border: solid; */
  opacity: 0;
  transition: 0.5s;
}

#dropFileForm.fileHover #fileLabel:before {
  opacity: 0.25;
}
#dropFileForm.fileHover #fileLabel {
  border: 2px solid #00000090;
  opacity: 0.25;
}

#dropFileForm .uploadButton {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 8px;
  background-color: limeGreen;
  color: #fff;
  cursor: pointer;
}

#dropFileForm.fileHover {
  /* border: solid; */
  /* box-shadow: 0 0 16px limeGreen; */
}
#fileLabelText {
  font-size: 1.4rem;
  font-weight: 200;
  color: #00000090;
  /* height: 100%; */
  /* margin: auto 0; */
  /* position: absolute; */
  /* top: 45%; */
  /* left: 40%; */
  text-align: center;
}

.convert {
  position: absolute;
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 1.5rem;
  bottom: 3rem;
}
.spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid lightgray;
  border-top-color: gray;
  animation: Rotate 1.2s linear 0s infinite forwards;
}

.convert p {
  color: #777;
  font-size: 2rem;
}
.op {
  opacity: 0;
}
.ok {
  position: absolute;
  border: 1px solid #92b0b3;
  background: #f1f1f1;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  /* padding: 100px 0px 100px 250px; */
  padding: 10rem;
  display: flex;
  z-index: 999999999999;
  opacity: 0;
  cursor: pointer;
  /* align-items: center;
  justify-content: center; */
  text-align: center !important;
  width: 117rem;
}
.uploadButton {
  font-size: 2rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  z-index: 99;
}
.uploadButton:hover {
  color: #fff;
  background-color: rgb(35, 143, 35) !important;
  transition: all 0.1s ease-in-out;
}
@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
