* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: Helvetica;
  font-size: 62.5%;
  color: #333;
}
body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: #f1f1f1;
  height: auto;
  width: 100vw;
}
.mobicon {
  display: none;
}
aside {
  background-color: #fff;
  width: 25rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  /* background-color: aqua; */
  /* border: 1px solid #00000010; */
  padding: 0 2rem;
}
.aactive {
  background-color: #333;
  color: #fff;
}
.box {
  padding: 2rem;
  border-bottom: 1px solid #00000010;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.head ion-icon {
  font-size: 1.8rem;
}
.box2 {
  margin-top: 2rem;
  display: flex;
  /* width: 100%; */
  gap: 1rem;
  /* justify-content: space-between; */
  align-items: center;
}
.box2 p {
  font-size: 1.3rem;
}
.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container {
  width: 120rem;
  margin: 10rem auto;
  display: flex;
  gap: 4rem;
}
.body1 {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.body1 select {
  width: 10rem;
  border: 1px solid #00000010;
  padding: 0.7rem;
  font-size: 1.3rem;
}
.line {
  width: 3rem;
  background-color: #00000060;
  margin: 0 0.5rem;
  height: 1px;
}
main .head {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  /* border-bottom: 1px solid #00000010; */
}
main .select {
  width: 100%;
  display: flex;
  gap: 2rem;
  /* justify-content: center; */
  font-size: 1.8rem;
  /* padding: 1rem 2rem; */
  border-bottom: 1px solid #00000010;
}
main {
  /* width: 95rem; */
}

.s1 {
  padding: 1.5rem;
  font-size: 1.6rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-color: #fff;
}
.activ {
  border-bottom: 2px solid #333;
  font-weight: 700;
}
.pbox {
  padding: 0.7rem;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  width: fit-content;
}
.pbox img {
  border-radius: 0.4rem;
  width: 25rem;
}
.overlay {
  width: 25rem;
  height: 150rem;
  background-color: #00000070;
  position: absolute;
  top: 0;
  z-index: 99999;
}
.type {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.tbox {
  padding: 1rem 2rem;
  background-color: #f1f1f1;
  color: #00000070;
  border-radius: 0.6rem;
  font-size: 1.2rem;
}

.price {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.name {
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.features {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}
.f1 {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}
.f1 ion-icon {
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background-color: #00ffff50;
}
.f1 p {
  font-size: 1.2rem;
}
.propertyBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.pbox img {
  cursor: pointer;
  transition: all 0.2s;
}
.pimg {
  border-radius: 0.4rem;
  overflow: hidden;
  position: relative;
}
.pbox img:hover {
  transition: all 0.2s;
  /* transform: scale(1.2); */
  /* transform: rotate(45deg); */
}

.like ion-icon {
  padding: 0.7rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #fff;

  z-index: 9999999999999999999999999999999999999;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
.like ion-icon:hover {
  z-index: 999999999999999999999999999999999999;
  background-color: #f2f2f2;
}
.like {
  position: absolute;
  cursor: pointer;

  z-index: 999999999999999999999999999999999999;
  top: 0.7rem;
  right: 0.7rem;
}
.headimg {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
  font-size: 2rem;
  z-index: 999999999999999999999999999999999999;
  display: none;
}
.overlay {
  transition: all 0.1s;
  cursor: pointer;
  display: none;
}
.pimg {
  transition: all 0.1s;
}
.pimg:hover {
  transition: all 0.1s;
}
.pimg:hover .overlay {
  transition: all 0.1s;
  display: block;
}
.pimg:hover .headimg {
  transition: all 0.1s;
  display: block;
}
@media screen and (max-width: 1350px) {
  * {
    font-size: 57%;
  }
  body {
    height: auto;
    overflow-x: hidden;
  }

  html,
  body {
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }
  .propertyBox {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .hero-section {
    background-image: url("img/hero mohali.webp");
    background-size: cover;
    width: 95vw !important;
    background-repeat: none;
    background-position: center;
    height: 100vh;
    margin: 0 auto;
    /* display: none !important; */

    /* aspect-ratio: 24/9; */
    /* width: 100%; */
  }

  .hero-section {
    background-size: 100%;
  }

  .for-free {
    width: 100vw !important;
    padding-left: 2rem !important;
  }

  .advice-section {
    margin-left: 2rem !important;
    overflow-x: scroll;
  }

  .boxes {
    overflow-x: scroll !important;
  }
}

@media screen and (max-width: 1150px) {
  * {
    font-size: 52%;
  }
  body {
    height: auto;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }
  .propertyBox {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
    padding-left: 2rem !important;
  }

  .advice-section {
    margin-left: 2rem !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .box-3-section {
    width: 92vw !important;
  }

  .customer-review {
    width: 92vw !important;
  }
}
@media screen and (max-width: 1050px) {
  * {
    font-size: 50%;
  }
  body {
    height: auto;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }
  .propertyBox {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
    padding-left: 2rem !important;
  }

  .advice-section {
    margin-left: 2rem !important;
  }
  .advice-box {
    overflow: auto !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .why-content {
    margin-left: 1rem !important;
  }

  .why {
    width: 99vw !important;
  }
}
@media screen and (max-width: 1000px) {
  * {
    font-size: 47%;
  }
  body {
    height: auto;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }
  .propertyBox {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .why {
    display: flex !important;
    flex-direction: column !important;
  }

  .why-box {
    width: 95vw !important;
  }

  .img-test {
    height: 30rem !important;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 4rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 960px) {
  * {
    font-size: 43%;
  }
  body {
    height: auto;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }
  .propertyBox {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 30rem !important;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 4rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 880px) {
  * {
    font-size: 40%;
  }
  body {
    height: auto;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }
  .propertyBox {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  /* for free section */

  .for-free {
    width: 100vw !important;
  }

  .heading-free {
    font-size: 3rem !important;
  }

  .para-internal {
    font-size: 1.6rem !important;
  }

  .free {
    font-size: 3rem !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .head-3 {
    font-size: 2rem !important;
  }

  .box-3-btn {
    padding: 0.8rem 1.4rem !important;
  }

  .box-3-section {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .box-3 {
    min-width: 25rem !important;
  }

  .box-3-section::-webkit-scrollbar {
    display: none;
  }

  .section-footer {
    column-gap: 3rem;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 4rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }

  .customer-boxes {
    overflow: scroll !important;
  }

  .customer-box {
    min-width: 35rem !important;
  }

  .customer-boxes::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  * {
    font-size: 50%;
  }
  body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .propertyBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 4rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 750px) {
  * {
    font-size: 46%;
  }
  body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .propertyBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .section-footer {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    row-gap: 5rem;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 6rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 700px) {
  * {
    font-size: 43%;
  }
  body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .propertyBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 5rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 650px) {
  * {
    font-size: 40%;
  }
  body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .propertyBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .heading-free {
    font-size: 2.4rem !important;
  }

  .para-internal {
    font-size: 1.4rem !important;
  }

  .free {
    font-size: 2.4rem !important;
  }

  .btn-free {
    font-size: 1.2rem !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 4rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 600px) {
  * {
    font-size: 36%;
  }
  body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .propertyBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }
}
@media screen and (max-width: 550px) {
  * {
    font-size: 33%;
  }
  body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .propertyBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 4rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 500px) {
  * {
    font-size: 30%;
  }
  body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
  }
  aside {
    width: 22rem;
    position: sticky;
    align-self: flex-start;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .propertyBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  main .head {
    padding-left: 0;
  }

  .for-free {
    width: 100vw !important;
  }

  .heading-free {
    font-size: 2.2rem !important;
  }

  .para-internal {
    font-size: 1.4rem !important;
  }

  .free {
    font-size: 2.2rem !important;
  }

  .btn-free {
    font-size: 1.2rem !important;
    padding: 1.4rem 1.8rem !important;
    margin-left: 2rem !important;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 4rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 400px) {
  * {
    font-size: 30%;
  }
  html,
  body {
    /* overflow-x: hidden; */
    /* width: 100vw; */
  }
  body {
    height: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
  }
  aside {
    width: 30rem;
    position: sticky;
    align-self: flex-start;
  }
  .pimg {
    width: 35rem;
  }
  .pimg img {
    width: 35rem;
  }
  .container {
    width: 95vw;
    margin: 10rem auto;
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    margin-left: 5rem;
  }
  .propertyBox {
    display: flex;
    flex-direction: column;
  }

  main .head {
    padding-left: 0;
  }

  .hero-section {
    width: 100vw !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .links {
    display: none !important;
  }
  /* .company-name {
    display: none !important;
  } */
  .navigation-section {
    width: 80vw !important;
    margin: 0 auto !important;
    display: flex !important;
    justify-content: space-between !important;
  }
  .mobicon,
  .closeicon {
    display: block;
    width: 3rem !important;
    height: 3rem !important;
    font-size: 13rem !important;
    padding-left: 3rem;
  }
  .chitta {
    color: #fff;
  }
  .for-free {
    width: 100vw !important;
  }

  .heading-free {
    font-size: 2.2rem !important;
  }

  .para-internal {
    font-size: 1.4rem !important;
  }

  .free {
    font-size: 2.2rem !important;
  }

  .btn-free {
    font-size: 1.2rem !important;
    padding: 1rem 1.6rem !important;
    margin-left: 2rem !important;
  }

  .advice-box {
    display: grid !important;
    /* grid-template-rows: 1fr !important; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    overflow: scroll !important;
    width: 95vw !important;
  }

  .advice-box::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    min-width: 25rem !important;
  }

  .box-3 {
    width: 35rem !important;
  }

  .why-boxes {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }

  .why-right {
    align-self: center !important;
    margin: 0 auto !important;
    margin-left: 4rem !important;
    margin-top: 5rem !important;
  }

  .reviewss {
    margin-top: 30rem !important;
  }

  .costumer-review {
    width: 95vw !important;
    margin: 0 auto !important;
  }
  .heading-1 {
    font-size: 4rem !important;
    /* padding: 0 !important; */
    text-align: center !important;
    width: 80vw !important;
    /* padding-left: 3rem !important; */
  }
  .searchbar2 {
    display: flex;
    flex-direction: column;
    margin: 5rem 3rem !important;
  }
  .inputcb input {
    width: 28rem !important;
  }
  .inputcb select {
    width: 28rem !important;
  }
  .searchbar2 a {
    align-self: center !important;
  }
  .for-free {
    width: 95vw !important;
  }
  aside {
    display: none;
  }
  main {
    margin-left: -3.5rem;
  }
  .copyright {
    margin: 0 !important;
  }
  .areyou {
    width: 95vw !important;
    padding: 5rem 1rem !important;
    align-items: center !important;
  }
  .areyou h1 {
    text-align: center !important;
  }
  .areyoubox {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }
}
