/* -------01 TYPOGRAPHY SYSTEM

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  font-family: "Helvetica";
}

body {
  color: #333;
}

#location {
  font-size: 1.4rem;
}

.hero-section {
  background-image: url("img/hero mohali.webp");
  background-size: cover;
  /* width: 100vh; */
  background-repeat: none;
  height: 100vh;
  /* background-attachment: fixed; */
  background-position: center;
  /* aspect-ratio: 16/9; */
  /* width: 100%; */
}

/* ************** */
/* navigation */
/* ************** */

/* drop down */

.navigation-section {
  transition: all 0.1s;
  width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  /* padding-left: 10rem;
  padding-right: 10rem; */
  gap: 2rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.link {
  font-size: 1.5rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.company-name {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.login-component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.company-logo {
  font-size: 2rem;
}

.link {
  font-size: 1.6rem;
}

.btn-nav {
  padding: 1rem 2.3rem;
  margin-left: 2rem;
  background-color: #333;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #333;
  transition: all 0.1s;
}

.btn-nav:hover {
  transition: all 0.1s;
  background-color: #555;
}

select {
  background: none;
}

/* ************ */

.heading-1 {
  font-size: 6rem;
  font-weight: 500;
  width: 60rem;
  padding-top: 15rem;
  padding-left: 10rem;
}

.search-bar {
  background-color: #fff;
  width: 70rem;
  margin-top: 3rem;
  margin-left: 10rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  /* padding: 1rem 2rem; */
}

.search-top {
  border-bottom: 1px solid #333;
  /* padding: 1.5rem 2rem; */
}

.search-list {
  display: flex;
  /* gap: 2rem; */
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  /* font-size: 1.2rem; */
  /* transition: all 0.5s; */
}

select {
  border: none;
}

.link:hover {
  color: #666;
}

.search input {
  border: none;
  /* text-align: center; */
  width: 100%;
  font-size: 1.5rem;
  border: none;
  padding: 0.8rem 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.search ion-icon {
  font-size: 2rem;
}

.search-bottom {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 1fr;
  padding: 1rem 2rem;
  column-gap: 2rem;
}

.search-bottom select {
  font-size: 1.5rem;
}

.btn-search {
  padding: 0.8rem 2.4rem;
  border: none;
  border-radius: 2px;
  transition: all 0.1s;
  cursor: pointer;
  background-color: #333;
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid #333;
}

.btn-search:hover {
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #333;
}

.search-list a {
  font-size: 1.7rem;
  padding: 1.5rem 1.5rem;
}

.search-list a:hover {
  background-color: #33333350;
  /* color: #fff; */
}

/* ////////////////////////// */

.for-free {
  background-color: #e2ebf2;
  color: #333;
  width: 120rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  border-radius: 0.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-free {
  font-size: 4rem;
  color: #333;
  font-weight: 500;
}

.para-internal {
  font-size: 2rem;
  margin-top: 1rem;
}

.free {
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
}

.btn-free {
  background-color: #333;
  color: #fff;
  font-weight: 600;
  padding: 1.8rem 3.4rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  transition: all 0.1s;
}

.btn-free:hover {
  cursor: pointer;
  /* color: #ffc72c; */
  background-color: #555;
  /* border: 1px solid #ffc72c; */
}

.advice-section {
  width: 120rem;
  margin: 10rem auto;
}

.heading-advice {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.icon-advice {
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: 1.4rem;
}

/* .loan-icon {
  width: 2.7rem;
  height: 2.7rem;
} */

.box-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.advice-para {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

.advice-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.boxes {
  border: 1px solid #f3f3f3;
  padding: 2rem 1.2rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.boxes::after {
  content: "Certified";
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  background-color: #c0d9ee;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  border-radius: 0.2rem;
}

.advice-link {
  font-size: 1.4rem;
  color: #648aac;
  display: flex;
  align-items: center;
}

.advice-link:hover {
  color: #324556;
}

.icon-arrow {
  width: 1.2rem;
  height: 1.2rem;
  color: #648aac;
  padding-left: 0.2rem;
}

/* testimonial */
.dont {
  margin: 5rem auto;
  width: 120rem;
}

.dont h1 {
  font-size: 2.4rem;
  color: #242a30;
  margin-bottom: 0.8rem;
}

.dont h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3d463d;
}

.reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.rv1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.rvwbox {
  display: flex;
  gap: 2rem;
}

.rvw2 {
  padding-right: 2rem;
}

.rvw1 img {
  width: 5rem;
  border-radius: 50%;
}

.rvw2 h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rvw2 h2 ion-icon {
  font-size: 2rem;
  color: gold;
}

.rvw2 p {
  font-size: 1.4rem;
  color: #3d463d;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1rem;
}

.rvw2 a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0d7a5f;
}

.onetwothreefour {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.onetwothreefour ion-icon {
  font-size: 2.6rem;
}

.onetwothreefour p {
  font-size: 1.6rem;
  width: 2.6rem;
  height: 2.6rem;
  font-weight: 700;
  color: #022022;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 50%;
}

.onetwoactive {
  background-color: #022022 !important;
  color: #fff !important;
}

.inspired {
  padding: 10rem 0;
  width: 120rem;
  margin: 0 auto;
}

.inspired h1 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  color: #022022;
}

.inspired h2 {
  font-size: 1.6rem;
  color: #3d463d;
}

.inspire {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inspir1 {
  display: flex;
  gap: 2rem;
}

.inspir1 img {
  height: 32.7rem;
}

.inspirbox {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
}

.inspirbox p {
  font-size: 1.4rem;
  color: #3d463d;
}

.inspirbox a {
  color: #0d7a5f;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

.inspirbox img {
  height: 20.7rem;
  width: 38.9rem;
}

.inspir2 {
  display: flex;
  justify-content: space-between;
  /* gap: 4rem; */
}

.bxxc {
  padding: 0 !important;
}

.bccv {
  padding-bottom: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* padding: 4rem; */
  padding-left: 2rem;
  /* padding-top: 2rem; */
}

.started {
  width: 100%;
  background-color: #f9fafb;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.started h1 {
  text-align: center;
  font-size: 2.4rem;
  color: #022022;
  margin-bottom: 4rem;
}

.start1 {
  width: 27.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.start1 img {
  width: 23.8rem;
  height: 20rem;
}

.start1 p {
  font-size: 1.8rem;
  color: #3d463d;
}

.start1 button {
  width: 20rem;
  align-self: center;
  padding: 1.2rem 2.2rem;
  font-size: 1.8rem;
}

.getstarted {
  display: flex;
  gap: 10rem;
  /* margin: 0 auto; */
}

.startline {
  height: auto;
  width: 0.2rem;
  background-color: #00000040;
}

/* footer */

.section-footer {
  /* width: 120rem; */
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  background-color: #333;
  padding: 0 10rem;
  padding-top: 5rem;
}

.heading-footer {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.4rem;
}

.ul-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.link-list {
  color: #ffffff99;
  font-size: 1.5rem;
  font-weight: 500;
}

.link-list:hover,
.link-list:active {
  color: #999;
}

.foot-para {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.icon-footer {
  color: #fff;
  width: 2rem;
  height: 2rem;
}

.icon-container {
  display: flex;
  gap: 1rem;
}

footer {
  padding-bottom: 3rem !important;
}

.copyright {
  background-color: #333;
  padding: 1rem 3rem 3rem 3rem !important;
  /* width: 120rem; */
  margin: 0 auto;
}

.copyright p {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}

.why {
  width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: -25rem;
}

.why img {
  width: 80%;
  height: 45%;
  /* align-self: flex-end; */
  border-radius: 1rem;
}

.why-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.why-content h1 {
  font-size: 2.4rem;
}

.why-boxes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.why-box {
  display: flex;
  gap: 2rem;
  padding: 1.3rem 2rem;
  padding-right: 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.04);
  transition: all 0.15s;
  cursor: pointer;
  max-width: 42rem;
  background-color: #fff;
}

.why-box:hover {
  transition: all 0.15s;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075);
}

.why-icon {
  padding: 1rem;
  border-radius: 0.7rem;
  /* background-color: #33333320; */
  background-color: #e2ebf2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-icon svg {
  /* font-size: 2.3rem; */
  width: 2.3rem;
  height: 2.3rem;
  color: #5a5e61;
}

.why-box-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.why-box-content h2 {
  font-weight: 500;
  font-size: 1.8rem;
}

.why-box-content p {
  font-size: 1.6rem;
  /* width: 80%; */
  line-height: 1.6;
  color: #00000070;
}

.whyr p {
  font-size: 1.6rem;
  width: 80%;
  line-height: 1.6;
  color: #00000070;
}

.whyr {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.whyr a {
  font-size: 1.8rem;
  margin: 0;
  align-self: flex-start;
}

.why-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.reviewss {
  width: 100vw;
  background-color: #e2ebf2;
  /* background-color: #d9e8e9; */
}

.customer-review {
  width: 120rem;
  margin: 0 auto;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.customer-review h1 {
  font-size: 2.4rem;
  text-align: center;
}

.customer-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-between; */
  column-gap: 2rem;
}

.customer-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.cb1 {
  display: flex;
  gap: 2rem;
}

.cb1 img {
  width: 5rem;
  border-radius: 50%;
}

.cbname {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cbname h1 {
  font-size: 1.8rem;
}

.cbname p {
  font-size: 1.4rem !important;
  color: #00000090;
}

.customer-box p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #00000090;
}

.reviewStars {
  display: flex;
  gap: 1rem;
}

.reviewStars ion-icon {
  font-size: 2rem;
  color: gold;
}

.emptyStar {
  color: #ccc !important;
}

/* ///////////////////////////// */

.bg-image {
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3)
    ),
    url("img/r-architecture-pzMghCq2kS0-unsplash.jpg");
  background-size: 100%;
  background-position: center;
  width: 100vw;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.box-3-section {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  /* padding: 0 20rem; */
  width: 120rem;

  /* width: 120rem;
  margin: 10rem auto; */
}

.box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  background-color: rgba(33, 33, 33, 0.85);
  border-radius: 1rem;
  /* background-color: #fff; */
}

.head-3 {
  font-size: 2.4rem;
  color: #fff;
}

.box-3-head {
  font-size: 1.6rem;
  color: #444;
}

.box-3-para {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
}

.box-3-btn {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background-color: #668fb1;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
}

.box-3-btn:hover {
  background-color: #4d6b85;
}

.searchbar2 {
  /* width: 140rem; */
  width: max-content;
  margin: 5rem 10rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
}

.sb1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sb1 label {
  font-size: 1.8rem;
}

.inputcb input {
  border-bottom: 1.5px solid #00000070;
  padding: 0.5rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  width: 30rem;
}

.inputcb select {
  border-bottom: 1.5px solid #00000070;
  padding: 0.5rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  width: 30rem;
}

.inputcb {
  position: relative;
}

.searchicon {
  font-size: 2rem;
  position: absolute;
  left: 0.3rem;
  bottom: 0.6rem;
}

.searchicon2 {
  font-size: 2rem;
}

.locat {
  position: absolute;
  right: 0.3rem;
  bottom: 0.6rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  background-color: #33333330;
}

.searchbar2 a {
  align-self: flex-end;
  padding: 1.5rem 3rem;
}

.locat:hover {
  cursor: pointer;
  background-color: #33333350;
}

.searchbar2 input:focus {
  border-bottom: 1.5px solid #000000;
}

.searchbar2 {
  /* width: 140rem; */
  width: max-content;
  margin: 5rem 10rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
}

.sb1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sb1 label {
  font-size: 1.8rem;
}

.inputcb input {
  border-bottom: 1.5px solid #00000070;
  padding: 0.5rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  width: 30rem;
}

.inputcb select {
  border-bottom: 1.5px solid #00000070;
  padding: 0.5rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  width: 30rem;
}

.inputcb {
  position: relative;
}

.searchicon {
  font-size: 2rem;
  position: absolute;
  left: 0.3rem;
  bottom: 0.6rem;
}

.searchicon2 {
  font-size: 2rem;
}

.locat {
  position: absolute;
  right: 0.3rem;
  bottom: 0.6rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  background-color: #33333330;
}

.searchbar2 a {
  align-self: flex-end;
  padding: 1.5rem 3rem;
}

.locat:hover {
  cursor: pointer;
  background-color: #33333350;
}

.searchbar2 input:focus {
  border-bottom: 1.5px solid #000000;
}

.nav {
  position: fixed;
  z-index: 99999;
  /* background-color: #333; */
  width: 100vw;
}

.scrolled {
  transition: all 0.1s;
  background-color: #00000099;
}

.scrolled1 {
  transition: all 0.1s;
  padding: 1.3rem 0;
}

.scrolled a,
.scrolled span,
.scrolled button {
  color: #fff !important;
}

.mobileNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.mobileNav a {
  font-size: 2rem;
}

.none {
  display: none;
}

.closeicon {
  position: absolute;
  top: 3rem;
  right: 4rem;
}

.areyou {
  width: 120rem;
  margin: 7rem auto;
  /* background-color: #d9e8e9; */
  background-color: #e2ebf2;
  border-radius: 2rem;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.areyou h1 {
  font-size: 4rem;
}

.areyou p {
  font-size: 1.8rem;
  color: #00000070;
}

.areyoubox {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 0.5rem;
}

.areyoubox input {
  border: none;
  background-color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.areyoubox button {
  border-radius: 1rem;
  color: #fff;
  margin: 0;
  font-size: 1.8rem;
}
